body {
    background-color: #B1DEF4;
  }
  
  #belly {
    position: absolute;
    background-color: white;
    top: 200px;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  #head {
    position: absolute;
    background-color: white;
    top: 100px;
    left: 80px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  #eye1 {
    position: absolute;
    background-color: black;
    top: 150px;
    left: 120px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  #eye2 {
    position: absolute;
    background-color: black;
    top: 150px;
    left: 160px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  #nose {
    position: absolute;
    top: 175px;
    left: 140px;
    width: 20px;
    height: 30px;
    background-color: orange;
    border-radius: 30% 30% 70% 70%;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #F39200;
}

  #branch1 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 80px;
    top: 170px;
    left: 230px; 
    transform: rotate(45deg);
  }
  
  #branch2 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 30px;
    top: 170px;
    left: 240px; 
    transform: rotate(-15deg);
  }
  
  #branch3 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 30px;
    top: 185px;
    left: 255px; 
    transform: rotate(108deg);
  }

  #branch4 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 80px;
    top: 170px;
    left: 60px; 
    transform: rotate(-45deg);
  }
  
  #branch5 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 30px;
    top: 170px;
    left: 60px; 
    transform: rotate(45deg);
  }
  
  #branch6 {
    position: absolute;
    background-color: #6B4000;
    width: 10px;
    height: 30px;
    top: 185px;
    left: 30px; 
    transform: rotate(90deg);
  }